@import '../base/variables';


.orders{
    background: url(../../../img/form.webp);
    margin: 40px;
    padding:40px;
    @include radius;
    @include borderBoxshadow();
    @include flex(nowrap,column);
    .input-order{
        margin: 10px;
        padding: .4rem; 
        &::placeholder{
            font-family: 'Poppins', sans-serif;
      
        }
      .colu{
        display: flex;
        flex-direction: column;
      }
    }
    .labeli{
        margin-top: 10px;
        @include txtCenter;
        display: flex;
        flex-direction: column;
    }
    .border{
        outline: none;
        box-shadow: 0 1px 20px map-get($map: $colores, $key:"shadow" );
        border-radius: 5%;
        border: 2px solid map-get($map: $colores, $key:"border" );
        &:focus{
            padding: .9rem;
        }
    }
    .repartidor{
        resize: none;
        height: 10vh;
        width: 100%;
        &::placeholder{
            font-family: 'Poppins', sans-serif;
        }
    }
    .textarea{
        margin-top: 10px;
      
      }
      .formulario{
        margin: 5px; 
    }
    
    .boton{
        @extend .boton-style;
        background: $fondo;
        padding: 5px;
        margin: 5px;
        
    }
}