@import '../base/variables';

.encabezado{
    
    background: url(../img/nav12.jpg);
    background-size: cover;
    height: 20vh;
    @include flex;

       .title{
                font-size: 2.5rem;
                text-shadow: 4px 4px 10px $black;
                font-family: $fontTitle;
              

                @media(min-width:768px){
                     font-size: 5.2rem;
                }
                @media(min-width:1024px){
                     font-size: 7rem;
                     
                }
            }
 
    @media(min-width:768px){
        height: 30vh;
   }
    @media(min-width:1024px){
        height: 40vh;
   }

}

.icono{
     margin-right: 15px;
    font-size: 2.2em;
    font-family: $fontTitle;
    text-decoration: none;
    color: map-get($map: $colores, $key:"textColor");
    text-shadow: 2px 2px 3px map-get($map: $colores, $key:"shadow" );
    transition: all .1s;

       &:hover{
         color: map-get($map: $colores, $key:"textColor");
         text-shadow: 2px 2px 5px map-get($map: $colores, $key:"shadow" );
    }
}