@import '../base/variables';


#carouselExampleIndicators{
    width: 100%;
    margin: 20px auto
    
}

@media (min-width:768px){
    #carouselExampleIndicators{
        width: 80%;
        margin: 20px auto
        
    }
}

@media (min-width:1024px){
    #carouselExampleIndicators{
        width: 60%;
        margin: 20px auto
    }
}

.estiloDeContenedores{
    margin: 15px;
    padding: 30px;
    @include radius(15px);
    background: $fondo;
    @include borderBoxshadow();
      @media(min-width:768px){
            margin: 15px;
            padding: 30px;
            @include radius(20px)
       }
       @media(min-width:1024px){
            margin: 25px;
            padding: 30px;
            @include radius(25px);
            
       }
    }

    
   
