@import '../base/variables';

.iconos{
    margin: 0 10px;
    width: 70px;
    height: 68px;
    border-radius: 50%;
    border: 3px solid $black;
    transition: transform .4s;

       &:hover{
         transform: scale(1.2);
    }
}