@import '../base/variables';

.titleProduct-global{
    margin: 60px;
    font-size: 2rem;
    @include txtCenter;
    @include bordeTopBotton;
    @extend .title-style;
    
    @media(min-width:768px){
            font-size:3rem;
    }
    @media(min-width:1024px){
            font-size: 3.5rem;
    }
}