@import '../base/variables';

.titleProduct-global{
    margin: 60px;
    font-size: 2rem;
    text-align: center;
    @extend .title-style;
    
    @media(min-width:768px){
            font-size:3rem;
    }
    @media(min-width:1024px){
            font-size: 4rem;
    }
}