.boton-style{
        outline: none;
        border-radius: 10%;
        border: 2px solid map-get($map: $colores, $key:"border" );
        box-shadow: 0 1px 15px map-get($map: $colores, $key:"shadow" );
}
.title-style{
    color: $black;
    font-family: $fontTitle;
    
}