$fontTitle: 'Kdam Thmor Pro', sans-serif;
$black: #000;
$fondo: #f8f9fa;
$fontCopy: 'Poppins', sans-serif;
$fontProduct: 'Koulen', cursive;
$fontText:'Raleway', sans-serif;

$colores:(
    "icono":#9d4edd,
    "border":#5a189a,
    "shadow":#7b2cbf,
    "textShadow":rgb(187, 6, 253),
    "bodyColor": #dee2e6,
    "textColor": #000
)
