@import '../base/variables';


.info{
    background: $fondo;
    margin: 15px;
    @include borderBoxshadow;
    @include radius;
    @include flex (wrap);
    
    @media(min-width:768px){
           flex-wrap: wrap;
       }
     @media(min-width:1024px){
           flex-wrap: nowrap;
       }
       .subtt{
        @include txtCenter;
        font-size: 3rem;
        font-family: $fontTitle;
        text-shadow: 1px 3px 4px $black;
    }
    .nosotros{
        @include txtCenter;
        padding: 1.5rem;
        font-family: $fontText;
        font-size: 1.2rem;
        transition: all .5s;
        &:hover{
            transform: scale(1.1);
            font-size: 1.4rem;
            margin: 30px;
        }
    }

    .foto-referencia{
        width:90%;
        height: 25vh;
        border-radius: 30px;
        margin: 40px;

        @media(min-width:768px){
                width:100%;
                height: 40vh;
        }
        
       @media(min-width:1024px){
               width:50%;
             height: 50vh;
        }
    }   
}

